@model U5_W1_D4.Models.Articoli

@{
    ViewBag.Title = "Dettagli";
}

<span class="fs-6">@Html.ActionLink("Indietro", "Index")</span>

<h2>Dettagli</h2>

<div>
    <h4>Articoli</h4>
    <hr />
    <div class="row">
        <div class="col-6">
            <img src="@Model.ImmagineCopertina" alt="product-image" style="width: 300px">
            <img src="@Model.ImmagineAggiuntiva1" alt="product-image" style="width: 300px">
            <img src="@Model.ImmagineAggiuntiva2" alt="product-image" style="width: 300px">
        </div>

        <div class="col-6">
            <h3>@Model.Nome</h3>
            <p>@Model.Descrizione</p>
            <p>@Model.Prezzo</p>
        </div>

    </div>

</div>
