@model U5_W1_D4.Models.Articoli

@{
    ViewBag.Title = "Dettagli";
}

<h2>Dettagli</h2>

<div>
    <h4>Articoli</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImmagineCopertina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImmagineCopertina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImmagineAggiuntiva1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImmagineAggiuntiva1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImmagineAggiuntiva2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImmagineAggiuntiva2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
