@model IEnumerable<U5_W1_D4.Models.Articoli>

@{
    ViewBag.Title = "Gestione";
}

<h2 class="text-center">Gestione</h2>

<p>
    @Html.ActionLink("Aggiungi prodotto", "AggiungiArticolo", new { }, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImmagineCopertina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImmagineAggiuntiva1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImmagineAggiuntiva2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visibile)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <h2 class="fs-5">@item.Nome</h2>
        </td>
        <td>
            <p style="width: 250px">@item.Descrizione</p>
        </td>
        <td>
            <p>@item.Prezzo €</p>
        </td>
        <td>
            <img src=".@item.ImmagineCopertina" alt="img1" style="width: 150px" />
        </td>
        <td>
            <img src=".@item.ImmagineAggiuntiva1" alt="img2" style="width: 150px" />
        </td>
        <td>
            <img src=".@item.ImmagineAggiuntiva2" alt="img3" style="width: 150px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visibile)
        </td>
        <td>
            @Html.ActionLink("Modifica", "EditProd", new { id = item.Id }, new { @class = "btn btn-primary mb-2" })
            @if (item.Visibile == false)
            {
                @Html.ActionLink("Mostra", "AddProd", new { id = item.Id }, new { @class = "btn btn-success" })
            }
            else
            {
                @Html.ActionLink("Rimuovi", "DeleteProd", new { id = item.Id }, new { @class = "btn btn-warning" })
            }
        </td>
    </tr>
}

</table>
